* {
    font-weight: 300;
}

ion-content {
    --background: #fafafa;
}

ion-text {
    position: absolute;
    top: 25%;

    h1 {
        font-size: 42px;
    }

    p {
        font-size: 14px;
        color: #696969;
    }
}

.actions {
    position: absolute;
    width: 90%;
    bottom: 16px;
}

ion-button {
    --border-radius: 9px;
    --box-shadow: none;
    text-transform: initial;
    font-size: 12px;
}

.login-buttons {
    display: flex;
    justify-content: space-between;

    ion-button {
        width: 45%;
        --background: #fff;
        --color: #3b3b3b;
        --border-style: solid;
        --border-color: #eeeeee;
        --border-width: 0.5px;
        border-radius: 50px;
        height: 48px;
        border-radius: 50px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
        --box-shadow: none;
        font-size: 18px;
    }

    ion-avatar {
        height: 20px;
        width: 20px;
        margin-right: 7px;
        margin-bottom: 0.5px;
    }
}

.separator {
    display: flex;
    justify-content: center;
    margin: 8px auto 10px;
    font-size: 12px;
    position: relative;

    .line {
        position: absolute;
        border-top: 1px solid #dfdfdf;
        width: 50px;
        height: 2px;
        top: 8px;
    }
    
    .right {
        right: 98px;
    }

    .left {
        left: 98px;
    }
}

.signup-btn {
    height: 48px;
    --background: linear-gradient(90deg, #8c36a5 0%, #664bdc 100%);
}

.login {
    text-align: center;
    font-size: 12px;
    margin-top: 16px;

    a {
        color: #8c36a5;
        font-weight: 400;
        margin-left: 5px;
    }
}