
<ion-content [fullscreen]="true" class="ion-padding">
    <ion-text>
      <h1>Welcome.</h1>
      <p>Time Management for<br>POGOY Group of Companies (PGC)</p>
    </ion-text>
    <div class="actions">
        <!-- <h3>Its Almost {{ current_time |  date: 'MM/dd/yyyy hh:mm:ss a' }}!</h3> -->
        <p class="login">Time in via<a >QR Code</a></p>
        <div class="login-buttons">
            <ion-button (click)="QRScannerView('time_in')">
                <ion-avatar>
                    <img src="assets/img/qr_timein.png">
                </ion-avatar>
                <ion-label>Time-in</ion-label>
            </ion-button>
            <ion-button (click)="QRScannerView('time_out')">
              <ion-avatar>
                  <img src="assets/img/qr_timeout.png">
              </ion-avatar>
              <ion-label>Time-out</ion-label>
          </ion-button>
        </div>
    </div>
  </ion-content>