<ion-header>
  <ion-toolbar>
    <ion-title>Employee Information</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <img src="assets/img/softwarb_qr_scanner_white.png" alt="">
</ion-content> -->
