<ion-header>
  <ion-toolbar>
    <ion-title>Employee Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="attendanceInfo != undefined">
  <ion-item-divider color="light">Information</ion-item-divider>
  <ion-item text-wrap >
    <ion-avatar item-start *ngIf="attendanceInfo.image != null">
      <img [src] ="attendanceInfo.image">
    </ion-avatar>
    <ion-label>
        <h5>&nbsp;Name</h5>
        <p>&nbsp;{{ attendanceInfo.name }}</p>
    </ion-label>
  </ion-item>
  <ion-item text-wrap >
    <ion-label>
        <h5>Date</h5>
        <p>{{ attendanceInfo.date }}</p>
    </ion-label>
  </ion-item>
  <ion-item text-wrap >
    <ion-label>
        <h5>Designation</h5>
        <p>{{ attendanceInfo.designation }}</p>
    </ion-label>
  </ion-item>
  <ion-item text-wrap >
    <ion-label>
        <h5>Time Started</h5>
        <p>{{ attendanceInfo.time_in }}</p>
    </ion-label>
  </ion-item>
  <ion-item text-wrap *ngIf="attendanceInfo.time_out">
    <ion-label>
        <h5>Time-out</h5>
        <p>{{ attendanceInfo.time_out }}</p>
    </ion-label>
  </ion-item>
  <ion-item text-wrap >
    <ion-label>
        <h5>Hours Worked</h5>
        <p>{{ attendanceInfo.hours_worked }}</p>
    </ion-label>
  </ion-item>
  
</ion-content>
